body {
    background-color: rgb(205, 205, 205);
    width: 100%;
    margin: 0;
}

.container {
    margin: 0 5em 0 5em;
}

.navbar {
    background-color: white;
    margin-bottom: 3em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}


.navbar h1 {
    margin-left: 1em;
}

.navbar a {
    margin-top: 1.8em;
    margin-right: 2em;
}

.dashboard {
    display: flex;
}

.dashboard div:nth-of-type(2) {
    width: 75em;
}

.dashboard-2 {
    display: flex;
}

.table-head {
    border-bottom: 5px solid rgb(205, 205, 205);
    display: flex;
    justify-content: space-between;
    height: 1em;
}

.table-head {
    padding: 2em;
}

.table {
    height: 40em;
    background-color: white;
    box-shadow: 5px 5px 5px #b7b7b7;
    overflow: hidden;
    margin: 1em;
}

.table div {
    font-size: 20px;
}

.table-header li {
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin-right: 3em;
}

.table-header {
    margin-left: 2em;
}

.status-client, 
.status-total-sales, 
.status-total-sold, 
.status-menu-items {
    height: 100px;
    width: 300px;
    margin-right: 5em;
    background-color: white;
    box-shadow: 5px 5px 5px #b7b7b7;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.status-dashboard {
    display: flex;
    margin-left: 1em;
    margin-bottom: 3em;
}

.status-left p:first-of-type {
    margin-top: .1em;
    font-size: 50px;
    font-weight: bold;
}

.status-left p:nth-of-type(2) {
    margin-top: -2em;
    font-size: 25px;
    color: grey;
}

.status-picture img {
    height: 100px;
}

.clients-table-body li {
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin-right: 3em;
}

.clients-table-body {
    margin-left: 2em;
}


#menutablebody li {
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin-right: 3em;
}

#menutablebody {
    margin-left: 2em;
}