body {
    margin: 0;
    text-align: center;
}

#menu-section {
    text-align: center;
    border: black 1px solid;
}

#menu-option {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;    /* Centers vertically */
}

.menu-option li {
    padding-right: 2em;
}

.menu-option a {
    text-decoration: none;
    color: black;
}

.menu-option {
    list-style-type: none;
    display: flex;
}

.menu-list ul {
    display: flex;
}

.menu-list li {
    list-style-type: none;
    margin-right: 2em;
}