body {
    background-color: rgb(205, 205, 205);
    width: 100%;
    margin: 0;
}

.container {
    margin: 0 5em 0 5em;
}

.navbar {
    background-color: white;
    margin-bottom: 3em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}


.navbar h1 {
    margin-left: 1em;
}

.navbar a {
    margin-top: 1.8em;
    margin-right: 2em;
}

.table-head {
    border-bottom: 5px solid rgb(205, 205, 205);
    display: flex;
    justify-content: space-between;
    height: 1em;
}

.table-head {
    padding: 2em;
}

.table {
    height: 50em;
    background-color: white;
    box-shadow: 5px 5px 5px #b7b7b7;
    overflow: hidden;
    margin: 1em;
}

.table div {
    font-size: 20px;
}

.table-header li {
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin-right: 3em;
}

.table-header {
    margin-left: 2em;
}