@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Hammersmith+One&family=Hurricane&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background: #fafafa;
}

/* navbar */
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    background: white;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav h1 {
    line-height: .9em;
    background-color: black;
    color: white;
    padding: 10px;
}

nav h1 div:first-child {
    font-weight: 600;
    position: relative;
    left: -1px;
}

nav h1 div:last-child {
    font-weight: 300;
    letter-spacing: 2px;
}

/* content */
/* main */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    background-color: white;
    max-width: 1500px;
    padding: 5em;
    margin: 3em auto 5em auto;
}

main img {
    width: 40dvw;
    max-width: 700px;
    min-width: 400px;
    height: auto;
    justify-self: right;
    align-self: center;
}

main .hero-text h1:nth-child(2) {
    font-family: "Hurricane", cursive;
    font-weight: 500;
    font-size: 6rem;
    margin: -.2em 0 .3em 0;
    line-height: .9em;
}

main .hero-text p {
    font-weight: 610;
}

main .hero-text ul {
    font-weight: 500;
    font-size: 1.5em;
    margin-left: -.6em;
}

/* menu */
section.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

section.menu div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

section.menu div p {
    margin: 0;
}

section.menu div p:nth-child(2) {
    margin-left: 5rem;
}

.menu-selection-btn {
    max-width: 445px;
    margin: 0 auto 2em auto;
    padding: 0;
}

.menu-selection-btn button {
    padding: 8px;
    margin: 0;
    border: none;
    margin-right: -4.5px;
    background: white;
    color: black;
}

.menu-selection-btn .button-hover-style:hover {
    background: black;
    color: white;
}

.menu-selection-btn button:active {
    background: grey;
}

.menu-selection-btn button:nth-child(2) {
    background: black;
    color: white;
}

/* mosque section */
section.mosque {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 7em;
    position: relative;
}

section.mosque img {
    height: 500px;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(105, 105, 105, 0.5);
}

section.mosque p {
    position: relative;
}

.img-bg {
    position: relative;
}

section.mosque:before {
    content: "";
    position: absolute;
    width: 78%;
    height: 50%;
    bottom: 5em;
    left: -25%;
    background-color: rgb(238, 238, 238);
    border-radius: 0 100px 0 0;
    /* change 50 to a value that gets the shape right */
}

/* Reviews Section */
section.customer-reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.comments {
    justify-self: end;
}

.comments h4 {
    background-color: #2B99FB;
    color: #F1FEFF;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 1em;
    margin: .5em;
    width: fit-content;
    border-radius: 20px;
    border-bottom-right-radius: 0;
}

section.customer-reviews:before {
    content: "";
    position: absolute;
    width: 78%;
    height: 50%;
    bottom: 5em;
    right: -15em;
    background-color: rgb(114, 180, 255);
    border-radius: 100px 100px 0 100px;
    z-index: -1;
    opacity: 25%;
    /* change 50 to a value that gets the shape right */
}

/* food gallery masonry */
.food-gallery-masonry {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(11, 1fr);
    max-width: 1500px;
    margin: 0 auto;
    gap: 8px;
}

.food-gallery-masonry img {
    width: 100%;
    height: auto;
}

/* orgazing masonry layout using grid-column and grid-row */
.food-gallery-masonry img:nth-child(9) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 1 / 10;
    grid-row: 1 / 5;
}

.food-gallery-masonry img:nth-child(10) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 10 / 14;
    grid-row: 1 / 3;
}

.food-gallery-masonry img:nth-child(6) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 10 / 14;
    grid-row: 3 / 5;
}

.food-gallery-masonry img:nth-child(8) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 5 / 10;
    grid-row: 7 / 9;
}

.food-gallery-masonry img:nth-child(5) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 5 / 14;
    grid-row: 5 / 7;
}

.food-gallery-masonry img:nth-child(1) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 1 / 5;
    grid-row: 5 / 7;
}

.food-gallery-masonry img:nth-child(4) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 10 / 14;
    grid-row: 7 / 10;
}

.food-gallery-masonry img:nth-child(7) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 1 / 5;
    grid-row: 7 / 9;
}

.food-gallery-masonry img:nth-child(2) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 1 / 10;
    grid-row: 9 / 12;
}

.food-gallery-masonry img:nth-child(11) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 10 / 14;
    grid-row: 14 / 16;
}

.food-gallery-masonry img:nth-child(12) {
    align-self: stretch;
    justify-self: stretch;
    grid-column: 10 / 14;
    grid-row: 10 / 12;
}

.food-gallery-masonry img:nth-child() {
    align-self: stretch;
    justify-self: stretch;
    grid-column: none;
    grid-row: none;
}

/* Removed specific images from the masonry grid */
.food-gallery-masonry img:nth-child(3),
.food-gallery-masonry img:nth-child(11) {
    display: none;
}


/* footer */
footer {
    background: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr .8fr;
    padding: 4em 7em 0 7em;
    margin-top: 10em;
}

footer a {
    display: block;
    color: white;
    text-decoration: none;
}

footer div.footer-bottom {
    /* grid item/children of footer */
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 4px solid white;
    margin-top: 2em;
}

footer div.footer-bottom h4 {
    grid-column: 2 / 4;
    justify-self: center;
}

footer div.footer-bottom p:last-child {
    justify-self: end;
}

footer div:nth-child(4) {
    font-family: "Hurricane", cursive;
    font-size: 2em;
}